<template>
  <div class="cards-vue">
    <b-container fluid>
      <b-row>
        <b-col v-for="(item, index) in items" :key="index" md="12" lg="6" xl="4">
          <Card :item="item" />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Card from "~/components/card/Card.vue";

export default {
  components: {
    Card
  },
  props: ["items"]
};
</script>

<style lang="scss">
@import "~/assets/styles/utils.scss";

.cards-vue {
  display: block;

  .container-fluid {
    padding: 0;
  }
}
</style>
