<template>
  <div class="card-vue">
    <b-card class="grow border-0" tag="article">
      <b-carousel :interval="5000" controls top>
        <b-carousel-slide
          v-for="(img, index) in item.images"
          :key="index"
          :img-src="img.imgSrc"
          :img-alt="img.imgAlt"
        ></b-carousel-slide>
      </b-carousel>
      <div class="card-body-content">
        <div class="card-price">{{ item.price }}</div>
        <div class="card-left">
          <h5>
            {{ item.destination }} —
            <span>{{ item.place }}</span>
          </h5>
          <div class="card-description">
            {{ item.description }}
            <span class="card-rate">
              <fa v-for="index in item.rate" :key="index" :icon="['fas', 'star']" />
            </span>
          </div>
          <div>
            <div class="card-tag" v-for="(tag, index) in item.tags" :key="index">{{ tag }}</div>
          </div>
        </div>
        <div class="card-right">
          <b-button
            class="card-button float-right"
            href="https://ysocorp.com"
            target="_blank"
            variant="red"
            squared
          >
            <fa :icon="['fas', 'chevron-right']" />
          </b-button>
        </div>
      </div>
    </b-card>
  </div>
</template>

<script>
export default {
  props: ["item"]
};
</script>

<style lang="scss">
@import "~/assets/styles/utils.scss";

.card-vue {
  display: block;

  .card {
    background-color: inherit;
    margin-bottom: 2rem;

    .card-body {
      background-color: fColor("cwhite");
      border-radius: 0.5rem;
      padding: 0;

      .carousel-inner {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
      }

      .card-body-content {
        padding: 0.75rem;

        .card-left {
          width: calc(100% - 48px);
          display: inline-block;

          h5 {
            font-size: 18px;
            margin-bottom: 2px;
            span {
              font-weight: normal;
            }
          }

          .card-description {
            font-size: 14px;
            margin-bottom: 4px;
            text-transform: capitalize;
          }

          .card-rate {
            font-size: 12px;
          }

          .card-tag {
            color: fColor("cwhite");
            background-color: fColor("csecondary");
            font-size: 10px;
            letter-spacing: 1px;
            text-transform: uppercase;
            padding: 5px;
            margin-right: 5px;
            display: inline-block;

            &:first-child {
              background-color: fColor("cblack");
            }
          }
        }

        .card-right {
          width: 38px;
          display: inline-block;

          .card-button {
            background-color: fColor("cprimary");
            color: fColor("cwhite");

            &:hover {
              opacity: 0.8;
            }

            &:active {
              opacity: 0.6;
            }
          }
        }

        .card-price {
          position: relative;
          font-size: 12px;
          font-weight: 600;
          text-transform: uppercase;
          text-align: right;
          margin-top: -38px;
          margin-bottom: 20px;
          color: fColor("cwhite");
          -webkit-text-shadow: 1px 1px 1px black;
          -moz-text-shadow: 1px 1px 1px black;
          text-shadow: 1px 1px 1px black;
        }
      }
    }
  }
}
</style>
