@import '~/assets/styles/fonts.scss';
@import '~/assets/styles/utils.scss';

html {
  font-family: 'SevenOneEight-Medium', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.link-light {
  color: #fff;
  text-decoration: underline;

  &:hover {
    color: #fff;
    opacity: 0.8;
  }

  &:active {
    color: #fff;
    opacity: 0.6;
  }
}

.red {
  color: #ed3323;
}

.btn:focus {
  outline: none;
  box-shadow: initial;
}

.bold {
  font-weight: bold;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.05);
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #ed3323;
}
