$colors: (
  cblack: #000,
  cblacklight: #333,
  cwhite: #fff,
  cgreylight: #efefef,
  cprimary: #ed3323,
  csecondary: #bd9c6a,
);
@function fColor($key: 'cprimary') {
  @return map-get($colors, $key);
}

$pms: (
  no: 0px,
  noxs: 4px,
  xs: 8px,
  xssm: 12px,
  sm: 16px,
  smmd: 24px,
  md: 32px,
  mdlg: 48px,
  lg: 64px,
  lgxl: 96px,
  xl: 128px,
);
@function fPm($key: 'md') {
  @return map-get($pms, $key);
}
