<template>
  <div class="footer-vue">
    <b-container>
      <div class="footer-content">
        <div>
          Rejoignez
          <span class="bold">Emirates | The list</span>
        </div>
        <div>Vol + Hôtel négociés jusqu'à -70%</div>
        <hr />
      </div>
    </b-container>
  </div>
</template>

<style lang="scss">
@import "~/assets/styles/utils.scss";

.footer-vue {
  .footer-content {
    display: block;
    height: 100px;
    width: 100%;
    background-color: fColor("cblacklight");
    opacity: 0.9;
    color: fColor("cwhite");
    text-align: center;
    font-size: 21px;
    text-transform: uppercase;
    padding: 0.5rem 0;

    hr {
      height: 0px;
      margin: 5px auto;
      width: 200px;
      border: solid 3px fColor("cprimary");
    }
  }
}
</style>
