<template>
  <div class="main">
    <b-container class="layout-content">
      <div class="content">
        <nuxt />
      </div>
      <div class="footer">
        <Footer />
      </div>
    </b-container>
  </div>
</template>

<script>
import Footer from "~/components/footer/Footer.vue";

export default {
  components: {
    Footer
  }
};
</script>

<style lang="scss">
@import "~/assets/styles/utils.scss";

.main {
  width: 100%;
  height: 100%;
  background: fColor("cgreylight");
  padding-top: 2rem;
  padding-bottom: calc(100px + 2rem);

  .footer {
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    @media only screen and (max-width: 767px) {
      .container {
        padding: 0;
      }
    }
  }
}
</style>
