<template>
  <div class="index-page">
    <div class="heading">
      <h1 class="title">Découvrez les offres du moment</h1>
      <h2 class="subtitle">Vol + Hotel jusqu'à -70%</h2>
      <hr />
    </div>
    <div class="destinations">
      <Dropdown text="Destinations" :items="destinations" />
    </div>
    <div class="cards">
      <Cards :items="cards" />
    </div>
    <div class="offer">
      <div>Comment bénéficier de l'offre ?</div>
      <div class="bold">150€ de réduction* dès 1000€ d'achat</div>
      <hr />
    </div>
    <div class="member">
      <h4>Déjà membre ?</h4>
      <div>
        Votre code promo vous attend directement sur le site
        <a
          class="link-light"
          href="https://ysocorp.com"
          target="_blank"
        >en cliquant ici</a>
      </div>
    </div>
    <div class="register">
      <b-container fluid>
        <b-row>
          <b-col md="12" lg="4">
            <div class="register-number">1</div>
            <div class="register-description">
              <div>
                <div>Rejoignez</div>
                <div class="bold red">Emirates | The list</div>
              </div>
            </div>
          </b-col>
          <b-col md="12" lg="4">
            <div class="register-number">2</div>
            <div class="register-description">
              <div>
                <div>Recevez par email</div>
                <div class="bold red">Votre bon de 150€ offert</div>
                <div>À utiliser dès 1000€ d'achat</div>
              </div>
            </div>
          </b-col>
          <b-col md="12" lg="4">
            <div class="register-number">3</div>
            <div class="register-description">
              <div>
                <div>Réservez votre séjour</div>
                <div class="bold red">Avant le 30 avril 2019</div>
              </div>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

import Dropdown from "~/components/dropdown/Dropdown.vue";
import Cards from "~/components/card/Cards.vue";

export default {
  components: {
    Dropdown,
    Cards
  },
  computed: mapGetters({ destinations: "getDestinations", cards: "getCards" })
};
</script>

<style lang="scss">
@import "~/assets/styles/utils.scss";

.index-page {
  hr {
    height: 0px;
    margin: 5px auto;
    width: 200px;
    border: solid 3px fColor("cblacklight");
  }

  .heading {
    text-align: center;

    .title {
      font-weight: 400;
      font-size: 40px;
      color: fColor("cprimary");
      letter-spacing: 1px;
    }

    .subtitle {
      font-weight: 300;
      font-size: 34px;
      color: fColor("cblacklight");
      word-spacing: 5px;
    }

    @media only screen and (max-width: 767px) {
      .title {
        font-size: 28px;
      }

      .subtitle {
        font-size: 24px;
      }
    }
  }

  .offer {
    text-align: center;
    font-size: 21px;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  .member {
    text-align: center;
    background-color: fColor("cprimary");
    color: fColor("cwhite");
    padding: 2rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
  }

  .register {
    .register-number {
      display: inline-block;
      vertical-align: middle;
      color: fColor("cprimary");
      font-size: 80px;
      font-weight: 900;
      width: 54px;
    }
    .register-description {
      display: inline-block;
      vertical-align: middle;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: -0.5px;
      width: calc(100% - 60px);
      margin-bottom: -0.5rem;
    }
  }
}
</style>
