<template>
  <div class="dropdown-vue">
    <b-dropdown split split-variant="outline-default" variant="outline-default">
      <template v-slot:button-content>
        <span class="button-icon">
          <fa :icon="['fas', 'bars']" />
        </span>
        {{ text }}
      </template>
      <b-dropdown-item
        v-for="(item, index) in items"
        :key="index"
        href="#"
        @click="selectDestination(item.id)"
      >{{ item.name }}</b-dropdown-item>
    </b-dropdown>
  </div>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  props: ["text", "items"],
  methods: {
    ...mapMutations({
      selectDestination: "selectDestination"
    })
  }
};
</script>

<style lang="scss">
@import "~/assets/styles/utils.scss";

.dropdown-vue {
  display: block;
  text-align: center;
  margin: 2rem;
  .button-icon {
    margin: 0 8px 0 2px;
  }
  button {
    border: solid 1px fColor("cblacklight");
    text-transform: uppercase;
  }
}
</style>
